<?xml version="1.0" ?>
<robot name="box013">
  <link name="box013_body">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.203 0.198 0.097"/>
      </geometry>
      <material name="CardBoard">
        <color rgba="0.2667536437511444 0.17454615235328674 0.06440283358097076 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.203 0.198 0.097"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 -0.03937" rpy="0 0 0"/>
      <mass value="0.550"/>
      <inertia ixx="0.00211477" ixy="0" ixz="0" iyy="0.0021974" iyz="0" izz="0.0038231" />
    </inertial>
  </link>
</robot>
