<?xml version="1.0" ?>
<robot name="box5">
  <link name="box5_body">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.272 0.155 0.114"/>
      </geometry>
      <material name="CardBoard">
        <color rgba="0.2667536437511444 0.17454615235328674 0.06440283358097076 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.272 0.155 0.114"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.566"/>
      <inertia ixx="0.001746" ixy="0" ixz="0" iyy="0.004103" iyz="0" izz="0.004623" />
    </inertial>
  </link>
</robot>
